* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {

    font-family: impact;
    src: url("../fonts/impact.ttf");
    /*src: url('/fonts/impact.tff');*/

}

body {

    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0F0F0D;


}


header {
    padding: 20px 20px 0 20px;

    top: 0;
    display: grid;
    grid-gap:5px;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    width: 100%;
    margin-bottom: 0px;
}

.logo{

    color: #FEC61A;
    font-size: 35px;
    margin: 0 3.5rem;
    height: 45px;
    width: 167px;
    padding-left: 20px;
    font-family: impact;
    font-weight: normal;


}


.main-nav {


    padding: 15px 44px 20px 20px;


}

.main-nav a {
    color: white;
    text-decoration: none;
    margin: 30px;
    font-family:"Century Gothic";
    font-size: 20px;
    font-weight: bold;
}


.sub-nav {

    padding: 0 40px 0 40px;
}

.sub-nav a {

    text-decoration: none;
    margin: 5px;
}


.backgrounds{

    width:100%;
    height: 90vh ;
    background-image:url("../backgrounds/underwater 2.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;


}





footer {

    background-color: #23231E;


}

.icon {

    color: #FEC61A;
    font-size: 35px;
    margin: 0 auto;
    height: 5vh;
    width: 167px;
    display: flex;
    justify-items: center;
    font-family: impact;
    font-weight: normal;

}



.enlaces {

    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
}



.enlaces a {

    text-align: center;
    text-decoration: none;
    font-size: 15px;

    color: white;
    flex: 1;

}

.derechosreservados {


    margin: 0 auto;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: white;
    font-size: 15px;
    padding-top: 1.5em;

}

.spacefooter {

    height: 2vh;
}

.emptyspace{

    height: 10vh;

}



