* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {

    font-family: impact;
    src: url("../fonts/impact.ttf");
    /*src: url('/fonts/impact.tff');*/

}

body {

    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0F0F0D;


}


header {
    padding: 20px 20px 0 20px;

    top: 0;
    display: grid;
    grid-gap:5px;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    width: 100%;
    margin-bottom: 0px;
}

.logo{

    color: #FEC61A;
    font-size: 35px;
    margin: 0 3.5rem;
    height: 45px;
    width: 167px;
    padding-left: 20px;
    font-family: impact;
    font-weight: normal;


}


.main-nav {


    padding: 15px 44px 20px 20px;


}

.main-nav a {
    color: white;
    text-decoration: none;
    margin: 30px;
    font-family:"Century Gothic";
    font-size: 20px;
    font-weight: bold;
}


.sub-nav {

    padding: 0 40px 0 40px;
}

.sub-nav a {

    text-decoration: none;
    margin: 5px;
}


.backgrounds{

    width:100%;
    height: 90vh ;



}


.slider {
    width: 100%;
    height: 90vh;
    margin: 2em auto;

}

.slider-wrapper {
    width: 100%;
    height: 80vh;

}

.slide {

    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
    opacity: 1;
}

.spacebackgrounds{

    height:20vh;
}

.mainserie{

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    z-index: 1;

}


.pelicula-principal {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.pelicula-principal .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.pelicula-principal .boton {
    background: rgba(0,0,0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.pelicula-principal .boton:hover {
    background: #fff;
    color: #000;
}

.pelicula-principal .boton i {
    margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h3 {
    color: #fff;
    font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}


.buscador{

    display: grid;
    grid-template-columns: 25px 1fr;
    padding: 17px;
    height: 20px;
    margin-top:0px;
}

.buscar{

   background-color: black;
    color:white;
    border-radius: 10px;

}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
    margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
    background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
    left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
    right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
    display: flex;
    flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
    transform: scale(1.2);
    transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
    width: 100%;
    vertical-align: top;
    height: 400px;
    padding:40px
}



.mainserie img{


    width: 350px;
    height: 350px;

}



h3 {
    font-size: 30px;
    color: white;
    padding-left: 21px;
    height: 7vh;
}



.flex-container {
    display: flex;
    flex-direction: row;

    margin-top: 10%;

}

.image {
    height: 120px;
    width: 200px;
    padding: 3px;
    transition: .3s;
    transition-timing-function: ease-in-out;
}

.items {
    justify-content: center;
    display: flex;
    align-items: center;
    transform: translateY(-50%) translateX(-50%);
    transition: left .5s;
    transition-timing-function: ease;
    transition-timing-function: ease;
    transition-timing-function: ease-in-out;
    margin: 0 auto;
}

.image:hover {
    height: 220px;
    width: 350px;
    transition: .3s;
    transition-timing-function: ease-in-out;
    z-index: -10;
}

.button-overlay {


    height: 120px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 3em;
    align-items: center;
    display: flex;
    opacity: 0.9;
    top: 40%;
    cursor: pointer;
}

.left {
    left: 0;
}

.right {
    right: 0;
}




footer {

    background-color: #23231E;


}

.icon {

    color: #FEC61A;
    font-size: 35px;
    margin: 0 auto;
    height: 5vh;
    width: 167px;
    display: flex;
    justify-items: center;
    font-family: impact;
    font-weight: normal;

}



.enlaces {

    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
}



.enlaces a {

    text-align: center;
    text-decoration: none;
    font-size: 15px;

    color: white;
    flex: 1;

}

.derechosreservados {


    margin: 0 auto;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: white;
    font-size: 15px;
    padding-top: 1.5em;

}

.spacefooter {

    height: 2vh;
}

.emptyspace{

    height: 10vh;

}



